@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

nav {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    background-color: #cafdff;
}

header{
    background-color: #eadcff;
    padding: 24px;
    height: calc(100vh - 70px);
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 72px;
}

.subheader{
    font-size: 36px;
    margin: 16px 0 24px 0;
}

.row{
    width: 100%;
    max-width: 1300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    background-color: #05c7cf;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 24px;
    cursor: pointer;
}

.logo{
    width: 300px;
}

a{
    color: #000;
    font-size: 20px;
    font-weight: 700;
}
ul{
        display: flex;
}

li{
    list-style-type: none;
    padding-left: 16px;
}

#about, #discord, #contact{
    padding: 40px 0;
}

/*
    ABOUt
*/

#about{
    background-color: #f8ffdc;
}

h2{
    font-size: 60px;
    text-align: center;
    margin-bottom: 24px;
}

.section_content{
    display: flex;
    align-items: center;
    justify-content: center;
}

.section_content-wrapper{
    width: 60%;
}

.section_content-para{
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 24px;
}

.section_content-wrapper, .section_img-wrapper{
    padding: 0 24px;
}

.section_img-wrapper{
    width: 40%;
}

img{
    width: 100%;
}

/*
    DISCORD
*/

#discord{
    background-origin: #cefeff;
}